<li>
	{{name}}

	<button class="devoured" data-id="{{id}}" data-devour="{{devour}}">
		{{#if devour}}devoured!{{/if}}
	</button>

	<button class="submit-burger" data-id="{{this.id}}">Submit</button>
</li>
